.select2-results{
    text-align: left;
}
.select2-results li.select2-result-with-children > .select2-result-label{
    color: #CCC;
}
.select2-results ul.select2-result-sub > li .select2-result-label{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.store #content-inner .header h1{
    color: #393939;
    font-family: 'M900';
    font-size: 32px;
    letter-spacing: 0.5px;
    margin: 15px -45px 0;
    width: 800px;
}

.store .header p{
    line-height: 18px;
    padding: 20px 0 10px;
}

.store .header p a{
    font-family: 'M900';
    color: #393939;
    font-size: 18px;
    text-decoration: underline;
}

.store .header p a:hover{
    text-decoration: none;
}

.store .header p img{
    padding: 0 0 3px;
    border: none;
} 

.store .step{
    padding: 0;
}

.store label{
    cursor: default;
    font-family: 'M700';
    color: #414041;
}

.store .size-holder{
    float: right;
    display: block;
    position: relative;
    margin-bottom: 15px;
}

.store .poster-examples {
    margin: 36px 0 0 10px;
}

.store .poster-examples li{
    display: inline-block;
    width: 340px;
    font-size: 12px;
    line-height: 18px;
    text-align: center;
}

.store .poster-examples img{
    cursor: pointer;
}

.store #content-inner .poster-examples .preview{
    position: absolute;
    z-index: 1;
    display: none;
    padding: 10px 10px 6px;
    background: #DDD;
    border: 1px solid #C3C3C3;
    width: 100%;
    height: auto;
}

.store #content-inner .poster-examples .preview img{
    border: 1px solid #FFF;
    cursor: none;
}

.store #content-inner .poster-examples h1{
    font-size: 24px;
    color: #414041;
    padding: 3px;
    margin-top: 1px;
}

.store .continue{
    display: block;
    background: url('../assets/cartsprite.png') no-repeat 0 -96px;
    clear: both;
    display: block;
    left: -50px;
    margin: 0 auto;
    position: relative;
    width: 130px;
    height: 30px;
    border: 1px solid #DDD;
    border-bottom: none;
    cursor: default;
    transition: 0.4s ease-in-out;
}

.store .valid .continue{
    cursor: pointer;
    border-color: #BBB;
    background-position: 0 -126px;
}

.store .valid.no-anim .continue{
    transition: none;
}

.store .valid .continue:hover{
    border-color: #CCC;
    background-position: 0 -156px;
}

.store .continue:active{
    border-color: #999;
}

.store .size .continue{
    left: -15px;
}

#store-accordion{
    text-align: left;
    color: #777;
}

#store-accordion h2{
    position: relative;
    font-size: 24px;
    height: 46px;
    margin: 0;
    padding: 0 10px 0 62px;
    text-align: left;
    color: #6d6e71;
    background: url('../assets/store-header-repeat.png') repeat-x 0 -1px;
    cursor: default;
    border-left: 1px solid #DDD;
    border-right: 1px solid #DDD;
    letter-spacing: 0;
}

#store-accordion h2.ui-state-active{
    background-position: 0 -50px;
    border-left: 1px solid #BBB;
    border-right: 1px solid #BBB;
}

#store-accordion h2 span{
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    filter: alpha(opacity=50);
    opacity: 0.5;
    -webkit-transition: opacity, color 0.4s ease-in-out;
    -moz-transition: opacity 0.4s ease-in-out;
    -o-transition: opacity 0.4s ease-in-out;
    -ms-transition: opacity 0.4s ease-in-out;
    transition: opacity 0.4s ease-in-out;
}

/*#store-accordion h2.ui-state-active span{
    opacity: 1 !important;
}*/

#store-accordion h2.valid span, #store-accordion h2.active span{
    opacity: 1;
}

#store-accordion h2 .step-no{
    background: url("../assets/cartsprite.png") no-repeat 9px -196px;
    border-right: 1px solid #F2F2F2;
    display: block;
    height: 45px;
    left: 0;
    position: absolute;
    top: 1px;
    width: 61px;
}

#store-accordion h2.valid .step-no{
    opacity: 1;
}

#store-accordion h2.two .step-no{
    background-position: -55px -196px;
}

#store-accordion h2.three .step-no{
    background-position: -120px -196px;
}

#store-accordion h2.four .step-no{
    background-position: -184px -196px;
}

#store-accordion h2 .step-title{
    border-left: 1px solid #DDD;
    height: 46px;
    padding: 9px 0 9px 20px;
    position: relative;
    top: 11px;
}

#store-accordion h2.ui-state-active .step-title{
    color: #666;
    border-left: 1px solid #BBB;
}

#store-accordion h2 .step-info{
    color: #808285 !important;
    font-size: 14.5px;
    margin: 10px;
    position: relative;
    top: 11px;
    font-family: 'M700';
}

#store-accordion h2 .step-complete{
    float: right;
    margin-top: 6px;
    width: 30px;
    height: 30px;
    background: url('../assets/cartsprite.png') no-repeat -130px -126px;
}

#store-accordion h2.valid .step-complete{
    opacity: 1;
    background-position: -130px -96px;
}

#store-accordion h2.valid:hover span.step-complete{
    //opacity: 0.7;
}

#store-accordion h2.ui-state-active .step-complete{

}

#store-accordion h3{
    width: 100%;
    color: #414041;
    font-family: 'M900';
    padding: 20px 0 5px;
}

#store-accordion strong{
    color: #414041;
    font-family: 'M900';
    font-weight: 400;   
}

#store-accordion .quantity li.medium{
    position: relative;
    top: -1px;
}

#store-accordion .quantity select{
    width: 60px;
}

#store-accordion .info{
    font-family: 'M700';
    font-size: 18px;
    color: #414041;
    border: 1px solid #CCC;
    padding: 1px 15px;
    display: inline-block;
    margin-left: 4px;
}

#store-accordion .quantity label.info{
    width: 476px;
}

#store-accordion .cost{
    margin-left: 5px;
    padding-right: 25px;
    text-align: right;
    width: 65px;
}

#store-accordion .total{
    text-align: right;
    font-family: 'M900';
    font-size: 18px;
    color: #414041;
    padding: 10px 25px;
}

#store-accordion .total .cost{
    display: inline-block;
    padding: 0 0 0 20px;
}

#store-accordion .total sub{
    font-size: 0.6em;
    position: relative;
    top: -8px;
}

#store-accordion .step.email{
    padding: 28px 0 0 70px;
}

#store-accordion .step.email label{
    float: left;
    position: relative;
    display: block;
    font-size: 17px;
    padding-right: 30px;
}

#store-accordion .step input{
    display: block;
    height: 34px;
    line-height: 1em;
    padding: 1px 5px;
    width: 260px;
}

#store-accordion .step.email .match{
    display: block;
    float: left;
    height: 30px;
    width: 30px;
    background: url('../assets/cartsprite.png') no-repeat -160px -126px;
    margin-top: 28px;
}

#store-accordion .step.email.matching .match{
    background-position: -160px -156px;
}

#store-accordion .step.email.matching.valid .match{
    background-position: -160px -96px;
}

#store-accordion .step.email sub{
    clear: both;
    display: block;
    font-size: 0.87em;
    height: 1em;
    padding: 17px 90px 17px 0;
    text-align: center;
}

#store-accordion .step.email.invalid sub .valid-email{
    display: none;
}

#store-accordion .step.email sub .invalid-email{
    display: none;
    font-family: 'M700';
    color: #e30613;
}

#store-accordion .step.email.invalid sub .invalid-email{
    display: block;
}

#store-accordion .step.shipping{
    padding: 20px 0 0 70px;
}

#store-accordion .step.shipping .country span{
    padding-right: 5px;
}

#store-accordion .step.shipping .required span:after{
    font-size: 75%;
    left: 0.2em;
    top: -0.3em;
    content: '*';
    position: relative;
}

#country, #us-state{
    width: 250px;
}

#store-accordion .step.shipping .firstname input, #store-accordion .step.shipping .surname input{
    width: 311px;
}

#store-accordion .step.shipping .firstname{
    padding-right: 26px;
}

#store-accordion .step.shipping .firstname, 
#store-accordion .step.shipping .surname, 
#store-accordion .step.shipping .state,
#store-accordion .step.shipping .zip{
    display: inline-block;
}

#store-accordion .step.shipping .address{
    display: block;
    margin: 10px 0;
}

#store-accordion .step.shipping .address input{
    width: 664px;
    margin-bottom: 6px;
}

#store-accordion .step.shipping .state{
    padding-right: 26px;
    height: 62px;
    float: left;
}

#store-accordion .step.shipping .state input{
    width: 452px
}

#s2id_us-state{
    margin-top: 5px;
}

#s2id_us-state, #store-accordion .step.shipping.us .state input{
    display: none;
}

.step.shipping.us #s2id_us-state, #store-accordion .step.shipping .state input{
    display: block;
}

#store-accordion .step.shipping .zip{
    float: left;
}

#store-accordion .step.shipping .zip input{
    width: 170px;
}

#store-accordion .step.shipping .total{
    clear: both;
    margin-bottom: 16px;
}

#store-accordion .step.payment aside{
    padding-left: 85px;
    float: left;
    height: 215px;
}

#store-accordion .step.payment aside h3{
    font-size: 18px;
    padding-bottom: 33px;
}

#store-accordion .step.payment aside .paypal{
    display: block;
    width: 230px;
    height: 135px;
    background: url('../assets/cartsprite.png') no-repeat 0 -252px;
}


#store-accordion .step.payment .right{
    text-align: right;
    width: 345px;
}

#store-accordion .step.payment label{
    display: block;
    padding-top: 107px;
}

#checkout{
    margin-top: 20px;
    display: inline-block;
    width: 256px;
    height: 48px;
    border: 1px solid #BBB;
    background: url('../assets/cartsprite.png') no-repeat 0 0;
}

#checkout:hover{
    border-color: #CCC;
    background-position: 0 -48px;
}

#checkout:active{
    border-color: #999;
}

.sep{
    border-bottom: 1px solid #C3C3C3;
    clear: both;
    color: #999999;
    display: block;
    font-size: 13px;
    height: 34px;
    line-height: 1em;
    margin: 20px 0 -20px;
}